body {
	background-image: url('../../../public/programming.jpg');
    background-position: center;
    background-size: cover;
}

body::after {
    content: "";
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.9) 100%) repeat 0 0;
	background-repeat: no-repeat;
	background-position: center;
    z-index: -1;
}

#background-home-loading {
    height: 100vh;
    background-color: black;
}

.content-container {
    display: block;
    position: absolute;
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.text-center {
    align-self: center;
    margin-right: 2rem;
	margin-top: 0;
	padding: unset;
}

.text-last-name {
    color: #c57996;
}

.text-job-role {
    color: #569cd6;
}

.home-img {
    height: 20rem;
    width: 20rem;
    background-color: #ce9178;
    border-radius: 50%;
}

.btn-loading {
    position: fixed;
    left: 45%;
    top: 40%;
}

.smiley {
	width: 8em;
	height: 8em;
}
.smiley__eye1,
.smiley__eye2,
.smiley__mouth1,
.smiley__mouth2 {
	animation: eye1 3s ease-in-out infinite;
}
.smiley__eye1,
.smiley__eye2 {
	transform-origin: 64px 64px;
}
.smiley__eye2 {
	animation-name: eye2;
}
.smiley__mouth1 {
	animation-name: mouth1;
}
.smiley__mouth2 {
	animation-name: mouth2;
	visibility: hidden;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	}
}

/* Animations */
@keyframes eye1 {
	from {
		transform: rotate(-260deg) translate(0,-56px);
	}
	50%,
	60% {
		animation-timing-function: cubic-bezier(0.17,0,0.58,1);
		transform: rotate(-40deg) translate(0,-56px) scale(1);
	}
	to {
		transform: rotate(225deg) translate(0,-56px) scale(0.35);
	}
}
@keyframes eye2 {
	from {
		transform: rotate(-260deg) translate(0,-56px);
	}
	50% {
		transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1);
	}
	52.5% {
		transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1,0);
	}
	55%,
	70% {
		animation-timing-function: cubic-bezier(0,0,0.28,1);
		transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1);
	}
	to {
		transform: rotate(150deg) translate(0,-56px) scale(0.4);
	}
}
@keyframes eyeBlink {
	from,
	25%,
	75%,
	to {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0);
	}
}
@keyframes mouth1 {
	from {
		animation-timing-function: ease-in;
		stroke-dasharray: 0 351.86;
		stroke-dashoffset: 0;
	}
	25% {
		animation-timing-function: ease-out;
		stroke-dasharray: 175.93 351.86;
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1,start);
		stroke-dasharray: 175.93 351.86;
		stroke-dashoffset: -175.93;
		visibility: visible;
	}
	75%,
	to {
		visibility: hidden;
	}
}
@keyframes mouth2 {
	from {
		animation-timing-function: steps(1,end);
		visibility: hidden;
	}
	50% {
		animation-timing-function: ease-in-out;
		visibility: visible;
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -351.86;
	}
}

.animation-text {
    animation: textleftoright 1.5s linear;
}
.animation-img {
    animation: imgrighttoleft 1.5s linear;
}

@keyframes textleftoright {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(5%);
  }
}

@keyframes imgrighttoleft {
	0% {
	  transform: translateX(50%);
	}
	25% {
	  transform: translateX(5%);
	}
  }

  .icons-color {
	color: white;
  }

  .btn-portfolio {
	font-size: 15px;
	font-weight: 500;
	background-color: #caaf6f;
	color: #111221;
	padding: 0.5rem;
	border-radius: 4px;
  }

  .btn-portfolio:hover {
	font-size: 15px;
	font-weight: 500;
	background-color: #cdc4af;
	color: #4f4f51;
	padding: 0.5rem;
	border-radius: 4px;
  }

  .display {
	display: flex;
  }

  .home-img-about-me {
	height: 15rem;
	background-size: contain;
	background-image: url('../../assets/img/bluelines.png');
	box-shadow: inset 0px 0px 10px 10px #000;
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 1rem;
	/* border-right: 3px solid #c57996;
	border-bottom: 3px solid #c57996;
	border-right-style: calc(100% - 2rem); */
  }

  .text-about-me {
	font-weight: 400;
	font-size: 18px;
	max-width: 60%;
	align-self: center;
	margin-top: 2rem;
  }

  .section-home-about-me {
	width: 70%; 
	font-size: 20px;
	color: pink;
	font-weight: 600;
	text-align: center; 
	border-bottom: 3px solid rgba(217, 160, 211, 0.5);
	line-height: 0.1em;
	margin: 50px 0 20px; 
	position: absolute;
    left: 15%;
	right: 15%;
 } 
 
 .section-home-about-me span { 
	background-color: black;
	box-shadow: 0px 0px 10px 10px #000;
	padding:0 10px; 
 }

  @media(max-width: 950px) {
	.display {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.animation-img {
		justify-content: center;
		display: flex;
	}
	.text-center {
		margin-top: 2rem;
		margin-right: 0;
		padding: 1rem;
		margin-bottom: 1rem;
	}
  }

@media(max-width: 500px) {
	.home-img {
		width: 15rem;
		height: 15rem;
	}
}